absl-py
astunparse
BLEURT
blis
boto3
botocore
cachetools
catalogue
certifi
chardet
click
cycler
cymem
dataclasses
decorator
docutils
filelock
future
gast
gdown
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
jmespath
joblib
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
murmurhash
networkx
nltk
numpy
oauthlib
opt-einsum
packaging
pandas
plac
preshed
protobuf
public
pyasn1
pyasn1-modules
pyemd
pyparsing
PySocks
python-dateutil
pytz
query-string
regex
requests
requests-oauthlib
rsa
s3transfer
sacremoses
scikit-learn
scipy
seaborn
sentencepiece
six
sklearn
spacy
srsly
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
tf-slim
thinc
tokenizers
tqdm
transformers
typing-extensions
urllib3
wasabi
wrapt
zipp
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.10.2+cu113
pytorch-transformers
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.3.1/en_core_web_md-2.3.1.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
